* {
    margin: 0;
    padding: 0;
}

body{
    background: #16272c;
}
.center {
    margin-bottom: -40px;
    text-align: center;
    font-size: 35px;
    color: rgb(247, 247, 247);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: rgb(146, 65, 221);
    padding: 20px;
    border-radius: 7px;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: -8px -8px 15px rgba(47, 220, 113, 0.5), 5px 5px 15px rgba(235, 34, 34, 0.3);
    font-size: 25px;
    cursor: pointer;
    margin: 10px;
}

.function {
    background: rgb(213, 242, 98);
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    border-radius: 0;
    background: transparent;
}